body {
    background-color: lightblue;
    font-family: 'Comfortaa', cursive;
    margin: 25px;
    padding: 12px;
    border: dashed blueviolet 12px
    
}
h1 {
    font-size: 50px;
    color: orange;
}
.table .roww {
    border: solid black 2px;
    margin-top: 12px;
}

#sarcasm {
    font-style: italic;
}
h1.tricks {
    color: greenyellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}